video {
  width: auto;
  height: 125px;
}

img {
  width: auto;
  height: 125px;
}

body
{
    font-size: 1.5vw;
}

/* .dates {
  font-size: 1.2vw;
  font-style: italic;
  color: rgb(112, 112, 112);
} */

/* h1 {
  color: rgb(255, 0, 102);
} */